<!--- Partial to display user's analytics
including name, current estimate, budget, and percentage change --->
<section class="ui segment">
    <div class="ui four small statistics">
        <div class="ui statistic">
            <div class="value">
                <i class="blue user icon"></i>
            </div>
            <div class="label">
              <h4>Welcome: </h4>
                  <h4>{{user.firstName}}</h4>
            </div>
        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="blue euro icon"></i>
            </div>
            <div class="label">
              <h4>Budget</h4>
              <h4>{{user.budget}}</h4>
            </div>
                

        </div>
        <div class="ui statistic">
            <div class="value">
                <i class="blue book icon"></i>
            </div>
            <div class="label">
              <h4>Current Estimate</h4>
              <!---<h4>{{utility.currentestimate}}</h4>
              <h4>{{utility.estimate}}</h4>--->
              <h4>{{estimate}}</h4>
              <h4>{{buildrequest.currentCost}}</h4>

              



          </div>
            
        </div>
    <div class="ui statistic">
        <div class="value">
            <i class="purple bullseye icon"></i>
        </div>
        <div class="label">
          <h4>Over/Under Budget</h4>
        {{#each buildrequest}}
            <h4> {{overrun}}% </h4>
        {{/each}}
      </div>
        

        {{# if (overrun)}}
            <i class="green bullseye icon"></i>
        {{/if}}
        {{#if overrun}}
            <i class="red bulleye icon"></i>
        {{/if}}
    </div>


    </div>
    </div>
</section>
